@model List<DTO.LABURNUM.COM.AdmissionTypeModel>
@{int counter = 1;}
@if (Model.Count == 0)
{
    <div class="text-center">
        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/no-record-found.png" />
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover general-table responsive table-fixed">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Admission Type Id</th>
                            <th>Admission Type Name</th>
                            <th>Created On</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DTO.LABURNUM.COM.AdmissionTypeModel item in @Model)
                        {
                            <tr>
                                <td style="width: 17%;">@counter</td>
                                <td style="width: 20%;">@item.AdmissionTypeId</td>
                                <td style="width: 23%;">@item.Name</td>
                                <td style="width: 19%;">@item.CreatedOn</td>
                                <td style="width: 12%;">
                                    <button type="button" onclick="EditAdmissionTypePopup(@item.AdmissionTypeId)" class="btn btn-success adept-view" data-toggle="modal" data-target="#myModal">EDIT</button></td>
                                <td>
                                    <button type="button" class="btn btn-danger adept-view" onclick="UpdateAdmissionTypeStatusPoup(@item.AdmissionTypeId,@counter)" data-toggle="modal" data-target="#myModal">Delete</button></td>
                                <td style="display: none;" id="tdIsActive@(counter)">@item.IsActive</td>
                            </tr>
                            counter++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

